body {
  font-family: "Arial", "Helvetica", sans-serif;
  margin: 0;
}

header {
  border-bottom: 1px solid #DDDDDD;
  padding: 5px 15px;
}

header>h3 {
  display: inline-block;
  margin: 0;
}

article {
  margin: 20px 20vw;
}

body>h4 {
  margin-bottom: 5px;
}

#buttons {
  margin-top: 20px;
}

input[type=text] {
  max-width: 300px;
  width: 50vw;
}

button[type=button] {
  font-weight: bold;
}

#exceptions>div>* {
  margin-left: 10px;
}

#exceptions>div>div[data-path] {
  margin-left: 25px;
}
